div#portlet-left-column {
  float: left;
  clear: left;
  width: 212px;
}

div#portlet-center-column {
  float: left;
  width: 500px;
}

div#portlet-right-column {
  float: left;
  clear: none;
  width: 212px;
}

div.portlet-column {
  min-height: 100px;
  height: auto;
  
  margin-right: 10px;
}

.portlet-panel {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
	padding: 0px;
}

.portlet-panel-titled {

	background-image: url(images/box_1.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.portlet-panel-header {
  height: 44px;
  
  border: 0px;
	margin: 0px;
	padding: 0px;

	font-family: Verdana;
	font-size: 9pt;

	background-image: url(images/box_3.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.portlet-panel-title {

	margin: 0px;
	margin-left: 17px;
	padding: 0px;
	padding-top: 9px;

  height: 35px;
	
	float: left;
	overflow: hidden;

	background-image: url(images/box_2.png);
	background-repeat: repeat-x;
	background-position: left top;
}

.portlet-panel-title a {
	color: white;
	text-decoration: none;
}

.portlet-panel-icons {

	margin: 0px;
	margin-right: 17px;
	padding: 0px;
	padding-top: 11px;

	height: 34px;
	overflow: hidden;

	text-align: right;

	background-image: url(images/box_2.png);
	background-repeat: repeat-x;
	background-position: left top;
}

.portlet-panel-content-edge {
	background-color: #fafafb;
	background-image: url(images/box_4.png);
	background-repeat: repeat-y;
	background-position: left top;
}


.handler {
  cursor: move;
}

div#portlet-categories-menu {
  display: hidden;
}

fieldset.portlet-category-frame {
  width: 200px;
  float: left;
  overflow: hidden;
}

div#portlet-link-menu {
  clear: both;
}

.portlet-visible {
  display: block;
}

.portlet-invisible {
  display: none;
}

button.portlet-button {
	
	margin: 0px;
	padding: 0px;

  display: block;
  clear: both;
}

.portlet-panel-content > ul {

	margin: 0px;
	margin-left: 30px;
	padding: 0px;

	background-image: url(images/box_6.png);
	background-repeat: repeat-y;
	background-position: right top;
}

.portlet-panel-bottom {

	border: 0px;
	margin: 0px;
	padding: 0px;

	height: 14px;

	background-image: url(images/left-post-footer-r.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.portlet-panel-bottom-left {
	border: 0px;
	margin: 0px;
	padding: 0px;

	height: 14px;
	width: 17px;
	float: left;

	background-image: url(images/left-post-footer-l.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

.portlet-panel-bottom-fill {
	margin: 0px;
	padding: 0px;
	margin-left: 17px;
	margin-right: 17px;

	height: 14px;


	background-image: url(images/left-post-footer-m.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

.portlet-panel-content > ul.menu > li:first {
	background: none;
}

.portlet-panel-content > ul.menu > li:first > a {
	background: none;
}

.portlet-panel-content ul.menu li {

	border: 0px;
	margin: 0px;
	padding: 0px;
	margin-right: 5px;

}

.portlet-panel-content ul.menu li.leaf {
	background-image: url(images/separator.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.portlet-panel-content ul.menu li.expanded {
	background-image: url(images/separator.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.portlet-panel-content ul.menu li a {

	margin: 0px;
	margin-right: 17px;
	padding: 0px;
	padding-top: 5px;

	color: #005A26;
	font-family: Verdana;
	font-size: 9pt;
	text-decoration: none;

	display: block;

	background-image: url(images/top-separator.png);
	background-repeat: repeat-x;
	background-position: right top;
}



.ui-sortable-placeholder { border: 0px dashed #6e8620; visibility: visible !important; }
