div#portlet-left-column {
	margin-left: 0px;
  float: left;
  clear: left;
  width: 205px;
}

div#portlet-center-column {
  float: left;
  width: 490px;
}

div#portlet-right-column {
	margin-right: 0px;
  float: left;
  clear: none;
  width: 205px;
}

div.portlet-column {
  min-height: 100px;
  height: auto;
  
  margin-right: 10px;
}

.portlet-panel {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
	padding: 0px;
}

.portlet-panel-titled {

	background-image: url(images/box_1.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.portlet-panel-header {
  height: 44px;
  
  border: 0px;
	margin: 0px;
	padding: 0px;

	font-family: Verdana;
	font-size: 9pt;

	background-image: url(images/box_3.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.portlet-panel-title {

	margin: 0px;
	margin-left: 17px;
	padding: 0px;
	padding-top: 9px;

  height: 35px;
	
	float: left;
	overflow: hidden;

	background-image: url(images/box_2.png);
	background-repeat: repeat-x;
	background-position: left top;
}

.portlet-panel-title a {
	color: #FFFFFF !important;
	text-decoration: none;
}

.portlet-panel-icons {

	margin: 0px;
	margin-right: 17px;
	padding: 0px;
	padding-top: 10px;

	height: 34px;
	overflow: hidden;

	text-align: right;

	background-image: url(images/box_2.png);
	background-repeat: repeat-x;
	background-position: left top;
}


.portlet-panel-content-edge {
	background-image: url(images/box_4.png);
	background-repeat: repeat-y;
	background-position: left top;
}

.portlet-panel-content-edge > .portlet-panel-content-right {
	padding: 0px 5px 0px 5px;
	background-image: url(images/box_6.png);
	background-repeat: repeat-y;
	background-position: right top;
}

.portlet-node-element {
	overflow: hidden;
	padding-bottom: 10px;
}

.handler {
  cursor: move;
}

div#portlet-categories-menu {
  display: hidden;
}

fieldset.portlet-category-frame {
  width: 200px;
  float: left;
  overflow: hidden;
}

div#portlet-link-menu {
  clear: both;
}

.portlet-visible {
  display: block;
}

.portlet-invisible {
  display: none;
}

button.portlet-button {
	
	margin: 0px;
	padding: 0px;

  display: block;
  clear: both;
}

.portlet-panel-bottom {

	border: 0px;
	margin: 0px;
	padding: 0px;

	height: 14px;

	background-image: url(images/left-post-footer-r.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.portlet-panel-bottom-left {
	border: 0px;
	margin: 0px;
	padding: 0px;

	height: 14px;
	width: 17px;
	float: left;

	background-image: url(images/left-post-footer-l.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

.portlet-panel-bottom-fill {
	margin: 0px;
	padding: 0px;
	margin-left: 17px;
	margin-right: 17px;

	height: 14px;


	background-image: url(images/left-post-footer-m.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

.portlet-panel-content-inner {
	background-color: #fafafb;
}

.portlet-panel-content-inner > ul {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.portlet-panel-content ul.zhr-menu li {
	border: 0px;
	margin: 0px;
	padding: 5px 0px 10px 0px;

	list-style: none;
}


.portlet-panel-content-inner ul.zhr-menu > li:first-child {
	padding-top: 0px;
	background-image: none;
}

.portlet-panel-content-inner ul.zhr-menu > li:first-child  > a {
	padding-top: 0px;
	background-image: none;
}

.portlet-panel-content ul.zhr-menu li a {

	border: 0px;
	margin: 0px;
	margin-right: 10px;
	padding: 0px;
	padding-left: 8px;

	color: #005A26;
	font-family: Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 9pt;

	display: block;
}

ul.portlet-node-list:first-child {
	background-image: none;
}

ul.portlet-node-list:first-child h3 {
	padding-top: 0px;
	background-image: none;
}

ul.portlet-node-list {
	margin: 0px 0px 0px 0px;
}

ul.portlet-node-list li {
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

li.portlet-node-element {
	padding-left: 10px;
	padding-right: 10px;
}


ul.portlet-node-list h3 {
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	font-size: 11pt;
	font-weight: normal;
}

ul.portlet-node-list a.portlet-node-title {
	color: #005a26;
	font-family: Verdana;
	text-decoration: none;
}

ul.portlet-node-list p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 10pt;
	text-align: justify;
}

ul.portlet-node-list span.portlet-node-date {
	color: #96969a;
	font-size: 8pt;
}

ul.portlet-node-list span.portlet-node-author {
	color: #96969a;
	font-size: 8pt;
	font-weight: bold;
}

li.portlet-node-separator {

	border: 0px;
	margin: 0px;
	padding: 0px;
	padding-right: 17px;

	height: 12px;

	background-image: url(images/separator.png);
	background-repeat: no-repeat;
	background-position: right top;
}

ul.zhr-menu > li.portlet-node-separator {
	border: 0px;
	margin: 0px;
	padding: 0px;
	padding-right: 6px;

	height: 6px;

	background-image: url(images/separator-6px.png);

	font-size: 1px;
	line-height: 1px;
}

div.portlet-node-separator-fill {

	border: 0px;
	margin: 0px;
	padding: 0px;

	line-height: 1px;
	font-size: 1px;

	background-image: url(images/top-separator.png);
	background-repeat: repeat-x;
	background-position: top left;
}


.ui-sortable-placeholder { border: 0px dashed #6e8620; visibility: visible !important; }
